@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #17242c;
  color: #fff;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box-head {
  background-color: #17242c;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  max-width: 1930px;
  position: absolute;
  top: 65px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__heart {
    margin-right: 21px;
    height: 25px;
    width: 25px;
  }
  &__title {
    font-style: normal;
font-size: 22px;
line-height: 27px;
margin-right: 289px;
  }
  &__links {
    color: #ECF8FF;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 32px;
  }
}
a {
  color: #ECF8FF;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin-right: 32px;
}

.homepage-content {
  margin-top: 195px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  &__title {
    color: #82F9A1;
    text-shadow: 0px 0px 76px rgba(175, 250, 184, 0.3);
    width: 550px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 142%;
  }
  &__description {
    color: #ECF8FF;
    font-size: 17px;
line-height: 180%;
font-family: 'Open Sans', sans-serif;
width: 560px;
margin: 41px;
 }
}
.header{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
line-height: 36px;
color: #ECF8FF;
display: flex;
justify-content: center;
}

.note {
  box-sizing: border-box;
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 800px;
&__article {
  margin: 10px;
  background: #1C2C35;
  width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  border-left: 5px solid #82F9A1;
  padding: 20px;
}
  &__title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  &__descripiton {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  }

  .mine-picture {
    margin-top: 75px;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border: 5px solid #6B818C;
    border-radius: 90px;
    transition: transform 1s linear; 
  }

  .footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
  line-height: 36px;
  color: #ECF8FF;
 margin: 0 auto;
 margin-bottom: 20px;
 margin-left: 25%;
  }